

body {
    font-family: 'Voltaire', sans-serif;
}
button:hover{
    cursor: pointer;
}
#headerDiv {
    width: 100%;
    height: 130px;
    /* border: 1px solid black; */
    padding-top: 0px;
}
.header1 {
    height: 50px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
}
.header1 > p {
    margin-top: 0px;
    padding-top: 15px;
    font-size: 14px;
    margin-left: 350px;
    color: white;
}
.saleSpan {
    font-weight: bold;
}
.previewButton {
    border: none;
    background-color: black;
    font-size: 14px;
    text-decoration: underline;
    color: white;
}
.india {
    float: right;
    display: flex;
    margin-right: 30px;
}
.india > img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 15px;
    margin-right: 8px;
    /* padding-right: 10px; */
}
.india > p {
    font-size: 14px;
    padding-top: 3px;
    color: white;
}
.header2 {
    width: 100%;
    height: 80px;
    /* border: 1px solid green; */
    display: flex;
}
.logoDiv {
    height: 80px;
    width: 200px;
    /* background-color: gray; */
}
.logo {
    width: 250px;
    height: 80px;
    background-color: none;
    border: none;
    font-size: 28px;
    font-weight: bold;
    margin-left: 30px;
    padding-right: 0px;
    margin-top: 22px;
}
#homeRedirect:hover {
    cursor: pointer;
}
.navList {
    width: 90%;
    height: 80px;
   margin: auto;
}
.listStyle {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 30px;
    padding-left: 0px;
    font-size: 14px;
}
.listStyle > li:nth-child(1) {
    color: red;
}
.navRight {
    width: 25%;
    height: 80px;
    /* background-color: peachpuff; */
    display: flex;
    justify-content: space-evenly;
    margin-left: 30px;
}
.search {
    display: flex;
    width:  100%;
}
#search{
    width: 90%;
    height: 50px;
    margin-top: 10px;
    margin-left: 50px;
}
#signIn {
    height: 20px;
    width: 110px;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    margin-right: 30px;
  

}
/* dynamic nav cart css - neeraj */
.navShopIcon{
    display: flex;
    position: relative;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-right: 50px;
}
.navShopIcon > p{
    position: absolute;
   margin-top: 17px;
    font-size: small;
}
.text{
    font-size: 30px;
}
.abc{
    margin-left: 40px;
}
.hii{
    width: 90%;
    height: 200px;
    border: 0px red solid;
    margin: auto;
    margin-top: -90px;
    margin-bottom: 800px;
}
.hii>img{
    width: 100%;
    margin-bottom: 50px;
}

.headerDiv3 {
    height: 80px;
    width: 90%;
    margin-left: 5%;
    background-color: rgb(245, 245, 245);
    text-align: center;
}
.headerDiv3 > p:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    padding-top: 25px;
    line-height: 0cm;
}
.headerDiv3 > p:last-child {
    font-size: 14px;
    font-stretch: extra-expanded;
    text-decoration: underline;
}

.dropMainContainer {
    width: 100%;
    display: none;
    position: absolute;
}
.dropContainer {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255,255,255);
    /* border: 1px solid black; */
}
.leftMostDiv {
    height: 500px;
    width: 20%;
    margin-left: 30px;
    /* border: 1px solid black; */
}
.leftMostDiv > p {
    font-weight: bold;
}
.middleDiv {
    width: 50%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}
.middleDiv > div {
    width: 22%;;
    height: 500px;
    /* border: 1px solid green; */
}
.middleDiv div p {
    font-size: 14px;
    line-height: 0.5cm;
}
.rightMostDiv {
    width: 20%;
    height: 500px;
    /* border: 1px solid blue; */
}
.rightMostDiv > img:first-child {
    float: right;
    margin-top: 30px;
    background-color: rgb(255,255,255);
}
.rightMostDiv > img:nth-child(2) {
    margin-top: 100px;
}
.dropMainContainer2, .dropMainContainer3, .dropMainContainer4, .dropMainContainer5, .dropMainContainer6, .dropMainContainer7, .dropMainContainer8,
.dropMainContainer9, .dropMainContainer10, .dropMainContainer11 {
    width: 100%;
    display: none;
    position: absolute;
}
.dropContainer2, .dropContainer3, .dropContainer4, .dropContainer5, .dropContainer6, .dropContainer7, .dropContainer8,
.dropContainer9, .dropContainer10, .dropContainer11 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(255,255,255);
    /* border: 1px solid black; */
}
#women:hover, #youngadults:hover, #men:hover, #kids:hover, #home:hover, #gifts:hover, #beauty:hover, 
#designer:hover, #sale:hover, #brands:hover, #activeWear:hover {
    text-decoration: underline;
}

#shoppingBagDiv {
    width: 90%;
    height: 800px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-top: 30px;
}
.shoppingButtons {
    height: 50px;
    width: 500px;
    display: flex;
    margin-top: 10px;
}
#shoppingBagButton {
    width: 250px;
    height: 50px;
    font-size: 18px;
    border: none;
    background-color: rgb(197, 197, 197);
}
#savedForLater {
    width: 250px;
    height: 50px;
    font-size: 18px;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(255,255,255);
}
.shoppingBadSecDiv {
    width: 100%;
    height: 700px;
    display: flex;
    /* border: 1px solid red; */
}
.giftCard {
    height: 30px;
    width: 350px;
    /* border: 1px solid black; */
    display: flex;
}
.giftCard > img {
    height: 25px;
    width: 25px;
}
.giftCard > p {
    font-size: 14px;
    margin-top: 15px;
    margin-left: 5px;
}
#pay{
    width: 250px;
}
.shoppingHeading {
    font-size: 20px;
}
.shoppingBadSecDiv > div:first-child p:nth-child(2) {
    line-height: 0cm;
    font-size: 14px;
}
.shoppingBagLeft {
    height: auto;
    width: 78%;
    overflow-y: hidden;
    overflow-x: hidden;
   
}
.shoppingBagLeft > p:nth-child(2) {
    padding-left: 30px;
    font-size: 14px;
}
.shoppingBagRight {
    height: 700px;
    width: 20%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgb(214, 212, 212);
}
.shopBagProduct {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.shopBagProduct > div:first-child {
    width: 18%;
    height: 320px;
    /* border: 1px solid red; */
}
.shopBagProduct > div:first-child > img {
    width: 80%;
    height: 180px;
    text-align: center;
    margin-left: 10%;
}
.shopBagProduct > div:nth-child(2) {
    width: 40%;
    height: 320px;
    /* border: 1px solid red; */
}
.shopBagProduct > div:nth-child(3) {
    width: 15%;
    height: 320px;
    /* border: 1px solid red; */
}
.shopBagProduct > div:last-child {
    width: 15%;
    height: 320px;
    /* border: 1px solid red; */
}
.deliveryDiv {
    display: flex;
    margin-top: 10px;
}
.deliveryDiv > img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.deliveryDiv > div > p {
    margin-top: 0px;
    font-size: 15px;
} 
.deliveryDiv > div > p:last-child {
    color: rgb(109, 109, 109);
}
.removeButton {
    display: flex;
    margin-top: 10px;
}
.removeButton > button {
    border: none;
    font-size: 17px;
    background-color: rgb(255,255,255);
    color: rgb(6, 113, 253);
}
.bagProdDesc >p:first-child {
    font-size: 14px;
}
.bagProdDesc > p:nth-child(2) {
    line-height: 0cm;
    font-size: 15px;
}
.bagProdDesc > p>:nth-child(3){
    font-size: 14px;
}
.bagProdDesc > p:nth-child(3) > span {
    font-size: 14px;
    font-weight: bold;
    color:rgb(56, 56, 56);
}
#selectQty {
    height: 30px;
    width: 60px;
    border: none;
    color: rgb(6, 113, 253);
    background-color: rgb(255,255,255);
}
.bagProdCost {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.bagProdSpan {
    font-size: 14px;
    font-weight: bold;
}
.shoppingBagRight > p {
    font-weight: bold;
}
.shoppingBagRight > img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
} 
.bagBottomDiv {
    width: 70%;
    height: 350px;
    border-top: 1px solid rgb(180, 180, 180);
    margin-left: 5%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.bagBottomDiv > div {
    width: 48%;
    height: 350px;
    /* border: 1px solid red; */
}
.chatText {
    color: rgb(6, 113, 253);
}
.finalHorLine {
    height: 1px;
    width: 100%;
    background-color: rgb(185, 185, 185);
}
#checkoutButton {
    height: 70px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 10px;
}
.totalDiv {
    margin-top: 20px;
}
.totalDiv >p:last-child {
    font-size: 13px;
}
.footerDiv {
    height: 300px;
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 50px;
    background-color: rgb(246,246,246);
}
.footerTextDiv {
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid red; */
}
.footerTextDiv > div {
    height: 250px;
    width: 15.5%;
    /* border: 1px solid blue; */
}
.footerTextDiv p {
    font-size: 13px;
}
.termsOfService {
    width: 60%;
    height:50px;
    display: flex;
    justify-content: space-between;
    margin-left: 3.5%;
    /* border: 1px solid black; */
}
.termsOfService > p {
    font-size: 13px;
}

/* dynamic products */
#dynamicProductsDiv{
    width: 90%;
    height: 60%;
    margin-top: 20px;
    display: flex;
    margin-top: 50px;

    border: 0px solid red;
}
#cartimg{
    width: 50%;
    height: 100%;
}
#cartimg>img{
    width: 100%;
}
#cartinfo{
    width: 40%;
    height: 100%;
    padding-left: 100px;
    padding-top: 100px;
}
